@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

/* #Navigation
================================================== */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
/* 	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 70px;
	width: auto;
	display: block;
  	/* filter: brightness(10%); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #22252B;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #EF2D56 !important;
}
.nav-item.active .nav-link{
	color: #EF2D56 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #EF2D56;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Login
================================================== */
h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 3em;
	color: #22252B;
	margin:0px;
}
hr{
	margin-top: 0px;
	border: 3px solid #22252B;
}
.container-canvas {
	position: relative;
	height: 100vh;
	width: 100%;
}

#canvas {
	width: 100%;
	height: 100vh;
	background:#22252B;
	overflow: hidden;
}
   
#myDiv {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
}

#log-in{
	height: 100vh;
	width: 100%;
	position:relative;
	background:#22252B;
}

.form-container{
    padding: 50px;
    background-color: #E8E1E1;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form-container label {
	color: #22252B;
}
.form-container p {
	color: #22252B;
}
.form-container a {
	color: #EF2D56;
}
#emailHelp{
	color: #EF2D56;
}
.copy{
	position: absolute;
	bottom: 20px;
	left: 100px;
	display: flex;
	justify-content: left;
}
.copy p {
	color: #E8E1E1;
}
.copy a {
	color: #E8E1E1;
}

.btn {
	background: #22252B;
	border: none;
}
.peep{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	height: 130px;
	background-color: #E8E1E1;
	border:5px solid #E8E1E1;   
	border-radius: 50%;
	z-index: 5;
}
#duduk{
	position: relative;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	height:130px;
	object-fit:cover;
	border:5px solid #E8E1E1;
	border-radius:50%;
}

#bapak {
	position: absolute;
	bottom: 0px;
}

/* #Dashboard================================================== */
.section {
	position: relative;
	width: 100%;
	display: block;
}
.full-height {
	height: 100vh;
}
.over-hide {
	overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 1;
}
.absolute-center2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	z-index: 1;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
}



svg text{
	stroke: #22252B;
	font-family: 'Barriecito', cursive;
	font-size: 100px;
	font-weight: 700;
	stroke-width: 1;
	animation: textAnimate 8s infinite alternate;
	z-index: 100;
}
i:hover{
	color: #EF2D56 !important;
	transition: all .5s ease-in-out;
}

/* .mouse{
	width: 33px;
	height: 55px;
	border: 4px solid black;
	border-radius: 68px;
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50% -50%);
}

.mouse::before{
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	background-color: black;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	opacity: 1;
	animation: mouse 2s infinite;
}*/


.jadwal{
	/* background-color: rebeccapurple; */
	padding: 150px 250px;
}

.judul{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	bottom: 100px;
	right: 250px;
}
.peep-laptop{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	position: absolute;
	bottom: -20px;
	right: 10px;
	width: 310px;
}

.tabel{
	position: absolute;
	/* background-color: red; */
	/* top: 180px; */
}
.tabel-2{
	position: absolute;
	/* background-color: red; */
}

.btn:hover{
    background: #EF2D56;
}

.peep-standing{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right: 10px;
	width: 310px;
}

#wrapper{
	width: 100%;
	height: 100%;
	/*transition for the background color*/
	-webkit-transition: background-color 500ms;
		-moz-transition: background-color 700ms;
		-o-transition: background-color 700ms;
		transition: background-color 700ms;
}
  
/*color classes to be applied to "#wrapper" by the js*/
.colorOne{
	background-color: #EDE6F2;
	color: #22252B;
}
.colorTwo{
	background-color: #22252B;
	color: #EDE6F2;
}


/* Navigation Styling Ends */

/* ================= */

/* Loading Screen Styling */

.loading-screen {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	background-color: #22252B;
	width: 100%;
	height: 100%;
	transform: scaleY(0) skewX(0);
	transform-origin: top left;
  }
  
  .loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 1000;
	pointer-events: none;
  }
  
  /* Loading Screen Styling Ends */
  
  /* ================= */
  
  /* Heading Container Styling */
  
  .heading-container {
	max-width: 800px;
	margin:auto;
	position: relative;
	padding-top: 40px;
  }

  .anim2 {
	opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all .10s ease-in-out;
  transition: all .10s ease-in-out;
  }

  .fade-in {
	opacity: 1;
	-webkit-transform: translateY(0);
			transform: translateY(0);
  }
/* #Media
================================================== */
@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #22252B;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #22252B;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	.jadwal{
		padding: 50px 250px;
	}
	.table-responsive{
		position: relative;
		left: 50%;
		transform: translateX(-43%);
	}
	.peep-laptop{
		opacity: 0;
	}
}

@keyframes textAnimate{
	0%{
		stroke-dasharray: 0 50%;
		stroke-dashoffset: -10%;
	}

	100%{
		stroke-dasharray: 50% 0;
		stroke-dashoffset: 10%;
	}
}

@keyframes mouse{
	from{
		opacity: 1;
		top: 10px;
	}
	to{
		opacity: 0;
		top: 30px;
	}
}